{% extends 'layouts/_base.html'%} {% block content %}

<!-- services -->
<div class="bg-light pb-3 pt-5">
  <div class="container">
    <div class="row">
      <div class="text-center pb-2">
        <h2 class="fw-bold text-dark">
          Blog<span class="text-primary">s</span>
        </h2>
        <h5>
          WE <span class="text-primary"> DELIVER </span> QUALITY
          <span class="text-dark px-2">SERVICES</span>
          <span class="text-primary"
            >WITH<span class="text-muted px-1"> PROFESSIONALS</span>
            <span class="line-bar fw-bold">...</span></span
          >
        </h5>
      </div>
      <div class="p-5">
        <img
          src="/static/codefyn-5.0/images/web/blogging.svg"
          class="service-img"
        />
      </div>
      <div class="text-justify">
        <h3 class="text-center pt-1">What is Blog?</h3>
        In 1994, when blogs began, a blog was more of a personal diary that
        people shared online. In this online journal, you could talk about your
        daily life or share about things that you were doing. Then, people saw
        an opportunity to communicate information in a new way online. Thus
        began the beautiful world of blogging..<br />
        <h3 class="text-center pt-2">Why create Blog?</h3>
        <br />There are many reasons to start a blog for personal use and only a
        handful of strong ones for business blogging. Blogging for business,
        projects, or anything else that might bring you money has a very
        straightforward purpose – to rank your website higher in Google SERPs,
        increase your visibility.
      </div>
    </div>
  </div>
</div>

<!-- -->
{% endblock %}
