{% extends 'layouts/_base.html'%} {% block content %}

<!-- services -->
<div class="bg-light pb-3 pt-5">
  <div class="container">
    <div class="row">
      <div class="text-center pb-2">
        <h2 class="fw-bold text-dark">
          Static<span class="text-primary"> Sites</span>
        </h2>
        <h5>
          WE <span class="text-primary"> DELIVER </span> QUALITY
          <span class="text-dark px-2">SERVICES</span>
          <span class="text-primary"
            >WITH<span class="text-muted px-1"> PROFESSIONALS</span>
            <span class="line-bar fw-bold">...</span></span
          >
        </h5>
      </div>
      <div class="p-5">
        <img
          src="/static/codefyn-5.0/images/web/personal_website.svg"
          class="service-img"
        />
      </div>
      <div class="text-justify">
        <h3 class="text-center pt-1">What is HRM ?</h3>
        Human resource management (HRM) is the practice of recruiting, hiring,
        deploying and managing an organization's employees. HRM is often
        referred to simply as human resources (HR).<br />
        <h3 class="text-center pt-2">Why create a Static Sites ?</h3>
        <br />To make hiring Eassy.
      </div>
    </div>
  </div>
</div>

<!-- -->
{% endblock %}
