{% extends 'layouts/_base.html'%} {% block content %}

<!-- services -->
<div class="bg-light pb-3 pt-5">
  <div class="container">
    <div class="row">
      <div class="text-center pb-2">
        <h2 class="fw-bold text-dark">
          Personal<span class="text-primary"> Sites</span>
        </h2>
        <h5>
          WE <span class="text-primary"> DELIVER </span> QUALITY
          <span class="text-dark px-2">SERVICES</span>
          <span class="text-primary"
            >WITH<span class="text-muted px-1"> PROFESSIONALS</span>
            <span class="line-bar fw-bold">...</span></span
          >
        </h5>
      </div>
      <div class="p-5">
        <img
          src="/static/codefyn-5.0/images/web/personal_website.svg"
          class="service-img"
        />
      </div>
      <div class="text-justify">
        <h3 class="text-center pt-1">What is Personal Site ?</h3>
        A personal website is your chance to showcase your personality and
        credentials in an engaging format. But without strong personal website
        examples to guide you, you may not know how to get started or what will
        work best for your personal branding.<br />
        <h3 class="text-center pt-2">Why create a personal website?</h3>
        <br />Here's the thing about resumes and cover letters: No matter how
        unique you try to make your own, for the most part, they tend to read
        dry. And there's a good reason for it: It's supposed to be a single,
        no-frills page that documents your work experience. And while being
        concise is good, there's very little opportunity to convey your
        uniqueness, or for your personality to shine through at all for that
        matter.
      </div>
    </div>
  </div>
</div>

<!-- -->
{% endblock %}
