<!-- features-->
<div class="bg-light px-4 pt-4 text-center">
  {% for app in features_data %}
  <div class="container px-4" id="features">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>
            <span class="text-muted">Why </span
            ><span class="text-primary">Choose </span
            ><span class="text-dark">Us</span>
          </h2>
          <span class="line-bar fw-bold">...</span>
        </div>
      </div>
    </div>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-3 g-4 py-5"
    >
      <div class="col d-flex align-items-start">
        <div class="feature-icon bg-red-gradient me-3">
          <i class="bi bi-exclude p-3"></i>
        </div>
        <div>
          <h5 class="fw-bold mb-0">{{ app.f1_title }}</h5>
          <p class="text-color-black about">{{ app.f1 }}.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="feature-icon bg-red-gradient me-3">
          <i class="bi bi-person-bounding-box p-3"></i>
        </div>
        <div>
          <h5 class="fw-bold mb-0">{{ app.f2_title }}</h5>
          <p class="text-color-black about">{{ app.f2 }}.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="feature-icon bg-red-gradient me-3">
          <i class="bi bi-currency-rupee p-3"></i>
        </div>
        <div>
          <h5 class="fw-bold mb-0">{{ app.f3_title }}</h5>
          <p class="text-color-black about">{{ app.f3 }}.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="feature-icon bg-red-gradient me-3">
          <i class="bi bi-geo-alt p-3"></i>
        </div>
        <div>
          <h5 class="mb-0">{{ app.f4_title }}</h5>
          <p class="text-color-black about">{{ app.f4 }}.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="feature-icon bg-red-gradient me-3">
          <i class="bi bi-emoji-neutral p-3"></i>
        </div>
        <div>
          <h5 class="fw-bold mb-0">{{ app.f5_title }}</h5>
          <p class="text-color-black about">{{ app.f5 }}.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="feature-icon bg-red-gradient me-3">
          <i class="bi bi-award-fill icon-square p-5"></i>
        </div>
        <div>
          <h5 class="fw-bold mb-0">{{ app.f6_title }}</h5>
          <p class="text-color-black about">{{ app.f6 }}.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- End Feartures -->
