<!-- Services -->
<div class="bg-light pt-2 mt-3">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2 class="fw-bold text-muted">
          Our <span class="text-primary">Services</span>
        </h2>
        <h5>
          WE <span class="text-success"> DELIVER </span> QUALITY
          <span class="text-primary px-2">SERVICES</span>
          <span class="text-info">WITH</span
          ><span class="text-muted px-1"> PROFESSIONALS</span>
          <span class="line-bar fw-bold">...</span>
        </h5>
        <div class="row mb-3">
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img
                src="/static/codefyn-5.0/images/services/Personal_website.png"
              />
              <div class="card-body">
                <p class="card-title pb-3">Personal Websites</p>
                <a href="{% url 'personal_sites' %}" class="service-box-button"
                  >&raquo;</a
                >
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img src="/static/codefyn-5.0/images/services/ecom.png" />
              <div class="card-body">
                <p class="card-title pb-3">Online Store</p>
                <a href="{% url 'online_stores' %}" class="service-box-button">
                  &raquo;</a
                >
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img src="/static/codefyn-5.0/images/services/mobile_web.png" />
              <div class="card-body">
                <p class="card-title pb-3">Mobile WebApp</p>
                <a href="{% url 'mobile_web_app' %}" class="service-box-button"
                  >&raquo;</a
                >
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img src="/static/codefyn-5.0/images/services/cms.png" />
              <div class="card-body">
                <p class="card-title pb-3">CMS</p>
                <a href="{% url 'cms' %}" class="service-box-button">&raquo;</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img src="/static/codefyn-5.0/images/services/Blogging.png" />
              <div class="card-body">
                <p class="card-title pb-3">Blogs</p>
                <a href="{% url 'blogs' %}" class="service-box-button"
                  >&raquo;</a
                >
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img
                src="/static/codefyn-5.0/images/services/Portfolio_update.png"
              />
              <div class="card-body">
                <p class="card-title pb-3">Portfollio</p>
                <a href="{% url 'portfollio' %}" class="service-box-button">
                  &raquo;</a
                >
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img
                src="/static/codefyn-5.0/images/services/Static_website.png"
              />
              <div class="card-body">
                <p class="card-title pb-3">Static Sites</p>
                <a href="{% url 'static_sites' %}" class="service-box-button"
                  >&raquo;</a
                >
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img src="/static/codefyn-5.0/images/services/HRM.png" />
              <div class="card-body">
                <p class="card-title pb-3">HRM</p>
                <a href="{% url 'hrm' %}" class="service-box-button">&raquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
